{% extends "PJMAppBundle:Actus:layout.html.twig" %}

{% block title %}Ajout - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('a[href="http://editor.froala.com"]').parent().remove();
        $(".froala-view").prop("spellcheck", true);
    });
</script>
{{ form_javascript(form) }}
{% endblock %}

{% block pjm_app_body_actus %}
    <h2>Ajouter un article</h2>
    <p><em>Astuce</em> : l'extrait de l'article sur la page d'accueil est limité à 140 caractères, prends-le en compte.</p>
    {{ form(form) }}
{% endblock %}
