{% if articles|length != 0 %}
    {% for article in articles %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}">{% if not article.publication %}[Brouillon] {% endif %}{{ article.titre }}</a></h3>
                {% for categorie in article.categories %}
                    <span class="label label-info">{{ categorie.nom }}</span>
                {% endfor %}
                {% include "PJMAppBundle:App:physHM.html.twig" with { 'usersHM': article.usersHM } %}
            </div>
            <div class="panel-body">
                <div class="froala-view">
                    {{ article.contenu|citationUsers|raw }}
                </div>
            </div>
            <div class="panel-footer">
                <small class="pull-left">
                    par <strong>{% render(url('pjm_profil_encart', {'username': article.auteur.username})) %}</strong> le {{ article.date|date('d/m/Y') }} à {{ article.date|date('H:i') }}
                    {% if article.dateEdition is not null %}
                        <br><small>dernière édition le {{ article.dateEdition|date('d/m/Y') }} à {{ article.dateEdition|date('H:i') }}</small>
                    {% endif %}
                </small>
                <div class="text-right">
                    <a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}#commentaires" class="btn btn-danger">Commentaires</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
