{% if liste_articles|length != 0 %}
<ul class="list-unstyled">
{% for article in liste_articles %}
    <li>
        <span class="text-larger"><a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}">{{ article.titre }}</a></span><br>
        {{ article.contenu|truncate(140,true) }}
    </li>
{% endfor %}
</ul>
<p><small>
    <a href="{{ path('pjm_app_actus_index') }}" class="btn btn-primary btn-xs">
        <span class="glyphicon glyphicon-list"></span>
        Liste
    </a>
    <a href="{{ path('pjm_app_actus_ajouter') }}" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-plus"></span>
        Ajouter
    </a>
</small></p>
{% endif %}
