{% if liste_articles|length != 0 %}
<ul class="list-unstyled">
{% for article in liste_articles %}
    <li>
        <a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}" class="titreArticle"><span>{{ article.titre|slice(0,1) }}</span>{{ article.titre|slice(1,null) }}</a><br>
        {{ article.contenu|striptags|truncate(140,true) }} <a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}"><em>Lire la suite</em></a>
    </li>
{% endfor %}
</ul>
{% endif %}
<div class="space mini bordered"></div>
<div class="space mini"></div>
<p class="text-larger text-right">
    <a href="{{ path('pjm_app_actus_index') }}">
        <span class="glyphicon glyphicon-plus"></span> <span class="text-noir">d'actus</span>
    </a>
</p>
