{% extends "PJMAppBundle:Actus:layout.html.twig" %}

{% block pjm_app_body_actus %}

    <h2>Liste des articles</h2>
    <p>
        <a href="{{ path('pjm_app_actus_ajouter') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un article
        </a>
    </p>
    {% if articles|length != 0 %}
        {% for article in articles %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}">{{ article.titre }}</a></h3>
                    {% for categorie in article.categories %}
                        <span class="label label-info">{{ categorie.nom }}</span>
                    {% endfor %}
                </div>
                <div class="panel-body">
                    <div class="froala-view">
                        {{ article.contenu|raw }}
                    </div>
                </div>
                <div class="panel-footer"><small>
                    par <strong>{% render(url('pjm_profil_encart', {'username': article.auteur.username})) %}</strong> le {{ article.date|date('d/m/Y') }} à {{ article.date|date('H:i') }}
                    {% if article.dateEdition is not null %}
                        <br><small>dernière édition le {{ article.dateEdition|date('d/m/Y') }} à {{ article.dateEdition|date('H:i') }}</small>
                    {% endif %}
                </small></div>
            </div>
        {% endfor %}

        <ul class="pagination">
            {% for p in range(1, nombrePages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('pjm_app_actus_index', {'page': p}) }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        Pas (encore !) d'articles
    {% endif %}

{% endblock %}
