{% extends "PJMAppBundle:Actus:layout.html.twig" %}

{% block title %}
	Modification - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block pjm_app_body_actus %}
    <h2>Modifier un article</h2>
    <p><em>Astuce</em> : si la modification est importante, rajoute un [MAJ] dans le titre.</p>
    {{ form(form) }}
    <span class="space"></span>
    <p>
        <a href="{{ path('pjm_app_actus_voir', {'slug': article.slug}) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Retour à l'article
        </a>
    </p>
{% endblock %}
