{% extends "PJMAppBundle:Actus:layout.html.twig" %}

{% block title %}
    {{ article.titre }} - {{ parent() }}
{% endblock %}

{% block pjm_app_body_actus %}
    <h2>{{ article.titre }}</h2>
	<span>
        <em>Par {% render(url('pjm_profil_encart', {'username': article.auteur.username})) %}, le {{ article.date|date('d/m/Y') }}</em>
        {% for categorie in article.categories %}
        <span class="label label-info">{{ categorie.nom }}</span>
        {% endfor %}
        {% include "PJMAppBundle:App:physHM.html.twig" with { 'usersHM': article.usersHM } %}
    </span>
    <div class="space"></div>
    <div class="well">
        <div class="froala-view">
            {{ article.contenu|raw }}
        </div>
    </div>
	<div>
        <span>
            <a href="{{ path('pjm_app_actus_index') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour à la liste
            </a>
            <a href="{{ path('pjm_app_actus_ajouter') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter un article
            </a>
            {% if app.user == article.auteur %}<a href="{{ path('pjm_app_actus_modifier', {'slug': article.slug}) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier l'article</a>{% endif %}
            {% if app.user == article.auteur or is_granted('ROLE_ASSO_COM') %}<a href="{{ path('pjm_app_actus_supprimer', {'slug': article.slug}) }}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Supprimer l'article</a>{% endif %}
        </span>
        {% include "PJMAppBundle:App:physHM.html.twig" with { 'usersHM': article.usersHM } %}
	</div>
    <div id="commentaires">
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'article_' ~ article.id} %}
    </div>
{% endblock %}
