{# src/PJM/UserBundle/Resources/views/Resetting/email.html.twig #}

{% extends "PJMAppBundle:Mail:layout.html.twig" %}

{% block subject %}{{ parent() }} Modification de ton mot de passe{% endblock %}

{% block content_text %}
{% autoescape false %}
Sal's {{ user.bucque }} {{ user.username }},

Pour réinitialiser ton mot de passe, c'est par là :
{{ confirmationUrl }}

Fratern's,
les ZiPhy'sbook
admin@physbook.fr
{% endautoescape %}
{% endblock %}

{% block content_html %}
<h2>Réinitialisation du mot de passe</h2>

<h3>Sal's {{ user.bucque }},</h3>

<p>
    Réinitialise ton mot de passe en cliquant <a style="color: #ffba00" href="{{ confirmationUrl }}">ici</a>.
</p>

<p>
    Fratern's,<br>
    les ZiPhy'sbook<br>
    <a href="mailto:admin@physbook.fr" style="color:#ffba00">admin@physbook.fr</a>
</p>
{% endblock %}
