{% extends "::layout.error.html.twig" %}

{% block pageName %}error{% endblock %}

{% block title %}
	Erreur {{status_code}} | {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger">
            <p>
                Un problème est survenu. #DMD.
                <a href="{{ path('pjm_app_homepage') }}">Viens par ici !</a>
            </p>
        </div>

        <div class="alert alert-warning">
            <p>
                Erreur {{ status_code }} : {{ status_text }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
