{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}boquette {{ boquette.slug }}{% endblock %}

{% block categorieName %}{{ boquette.nom }}{% endblock %}
{% block categorieLogo %}{% if boquette.image is not null %}{{ asset(boquette.image.webPath) }}" alt="{{ asset(boquette.image.alt) }}{% endif %}{% endblock %}

{% block pjm_app_body_content %}
    <div class="row">
        {# inscription à la boquette #}
        {# liste des membres #}
        {# gestion #}
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include("@PJMApp/Actus/extrait.html.twig") with {'liste_articles': articles} %}
        </div>
        <div class="col-md-6">
            {{ include("@PJMApp/Event/fullCalendar.html.twig") }}
        </div>
    </div>
    <div class="row">
        <h2>Responsables</h2>
        {{ render(url('pjm_app_boquette_voirHistoriqueResponsables', {'slug': boquette.slug })) }}
    </div>
{% endblock %}
