{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}boquette {{ boquette.slug }}{% endblock %}

{% block categorieName %}{{ boquette.nom }}{% endblock %}
{% block categorieLogo %}{% if boquette.image is not null %}{{ asset(boquette.image.webPath) }}" alt="{{ asset(boquette.image.alt) }}{% endif %}{% endblock %}

{% block pjm_app_body_content %}
    <h2>Calendrier</h2>
    {{ include("@PJMApp/Event/fullCalendar.html.twig") }}

    <h2>Responsables</h2>
    {{ render(url('pjm_app_boquette_voirHistoriqueResponsables', {'slug': boquette.slug })) }}
{% endblock %}
