<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Site privé pour les élèves d'Arts et Métiers ParisTech">
        <meta name="keywords" content="phy'sbook, intranet, ensam, arts, métiers, paristech, site, privé, élèves, physbook, phy'ssbook, physsbook">
        <!-- créé par Louis Lagrange, Etienne Blanc, Louis Brillot, Alice Calès et Stéphie Noailles -->
        <title>{% block title %}Phy'sbook{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/ext.css', 'css') }}" />
            <link rel="stylesheet" href="{{ asset('css/site.css', 'css') }}" />
            <noscript><link rel="stylesheet" href="{{ asset('css/icons.fallback.css') }}"></noscript>
        {% endblock %}

        <!-- WebApp Manifest -->
        <link rel="manifest" href="{{ asset('manifest.json') }}">

        <meta name="application-name" content="Phy'sbook">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#b63938">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Phy'sbook">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <meta name="msapplication-navbutton-color" content="#b63938">
        <meta name="msapplication-TileColor" content="#b63938">
        <meta name="msapplication-tooltip" content="Démarrer Phy'sbook">
        <meta name="msapplication-starturl" content="./">

        <meta property="og:title" content="Phy'sbook" />
        <meta property="og:site_name" content="Phy'sbook" />
        <meta property="og:rich_attachment" content="true" />
        <meta property="og:url" content="https://physbook.fr/login" />
        <meta property="og:description" content="Site privé pour les élèves d'Arts et Métiers ParisTech" />
        <meta property="og:image" content="http://physbook.fr/images/general/logo+banniere.png" />
        <meta property="og:image:secure_url" content="https://physbook.fr/images/general/logo+banniere.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="2200" />
        <meta property="og:image:height" content="1151" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="fr_FR" />

        {% include '::favicon.html.twig' %}
        {% include '::startup.html.twig' %}

        {% block base_javascripts %}
            <script type="text/javascript" src="{{ asset('js/ext/jquery.min.js', 'js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ext/bootstrap.min.js', 'js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ext/jquery.dataTables.min.js', 'js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ext/select2.min.js', 'js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ext/fullcalendar.min.js', 'js') }}" async></script>

            <script type="text/javascript">
                var swPath = "{{ asset('service-worker.js', 'sw') }}";
            </script>

            <script type="text/javascript" src="{{ asset('js/ext.js', 'js') }}"></script>
            <script type="text/javascript" src="{{ app.environment == 'dev' ? path('fos_js_routing_js', {"callback": "fos.Router.setData"}) : asset('js/fos_js_routes.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/site.js', 'js') }}"></script>
            <script type="text/javascript">
                grunticon(["{{ asset('css/icons.data.svg.css') }}", "{{ asset('css/icons.data.png.css') }}", "{{ asset('css/icons.fallback.css') }}"], grunticon.svgLoadedCallback);
            </script>
        {% endblock %}
    </head>
    <body{% if block('pageName') != "" %} class="{{ block('pageName') }}"{% endif %}>
        {% block body %}{% endblock %}
        <!-- Piwik --><noscript><p><img src="//physbook.fr/web/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript><!-- End Piwik Code -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
