{% if section is not defined %}{% set section = "" %}{% endif %}
<section id="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu-principal">
        <div class="container">
            <div class="navbar-header">
                <div id="chargement" class="navbar-text"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liste-menu">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('pjm_app_homepage') }}"></a>
            </div>

            <div class="collapse navbar-collapse" id="liste-menu">
                <ul class="nav navbar-nav enable-slider">
                    <li class="default{% if section == "vie" %} active{% endif %}">
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-vie">
                            <img class="height-large" src="{{ asset('images/header/Fignos-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Fignos-R.png') }}">
                            Vie à l'ec's
                        </a>
                        {% if section == "vie" %}<div id="nav-slider-active"></div>{% endif %}
                        <ul id="menu-vie" class="sous-menu">
                            <li><a href="{{ path('pjm_app_event_fins_index') }}" title="Fin's"><img src="{{ asset('images/header/Fins-B.png') }}" alt="Fin's"></a></li>
                            <li><a href="{{ path('pjm_app_event_elections_index') }}" title="Élections"><img src="{{ asset('images/header/Elections-BR.png') }}" alt="Élections"></a></li>
                            <li><a href="{{ path('pjm_app_actus_index') }}" title="Actus"><img src="{{ asset('images/header/Infos-B.png') }}" alt="Actus"></a></li>
                            <li><a href="{{ path('pjm_app_media_index') }}" title="Média"><img src="{{ asset('images/header/Media-B.png') }}" alt="Média"></a></li>
                        </ul>
                    </li>
                    <li{% if section == "assos" %} class="active"{% endif %}>
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-assos">
                            <img class="height-large" src="{{ asset('images/header/Groupe-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Groupe-R.png') }}">
                            Assos
                        </a>
                        {% if section == "assos" %}<div id="nav-slider-active"></div>{% endif %}
                        <ul id="menu-assos" class="sous-menu">
                            <li><a href="http://amje-bordeaux.fr/intranet/web" title="AMJE Bordeaux"><img src="{{ asset('images/header/AMJE-B.png') }}" alt="AMJE Bordeaux"></a></li>
                            <li><a href="{{ path('pjm_app_boquette_asso_index') }}" title="Asso"><img src="{{ asset('images/header/AE-ENSAM-B.png') }}" alt="AE ENSAM"></a></li>
                            <li><a href="{{ path('pjm_app_boquette_uai_index') }}" title="UAI"><img src="{{ asset('images/header/UAI-B.png') }}" alt="UAI"></a></li>
                        </ul>
                    </li>
                    <li{% if section == "consos" %} class="active"{% endif %}>
                        <a href="#" class="disable-fade" data-toggle="sous-menu-collapse" data-target="#menu-consos">
                            <img class="height-large" src="{{ asset('images/header/Fast-food-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Fast-food-R.png') }}">
                            Consos
                        </a>
                        {% if section == "consos" %}<div id="nav-slider-active"></div>{% endif %}
                        <ul id="menu-consos" class="sous-menu">
                            <li><a href="{{ path('pjm_app_consos_pians_index') }}" title="Pian's"><img src="{{ asset('images/header/Pians-B.png') }}" alt="Pian's"></a></li>
                            <li><a href="{{ path('pjm_app_consos_cvis_index') }}" title="C'vis"><img src="{{ asset('images/header/Cvis-B.png') }}" alt="C'vis"></a></li>
                            <li><a href="{{ path('pjm_app_consos_brags_index') }}" title="Brag's"><img src="{{ asset('images/header/Brags-B.png') }}" alt="Brag's"></a></li>
                            <li><a href="{{ path('pjm_app_consos_paniers_index') }}" title="Paniers de fruits et légumes"><img src="{{ asset('images/header/Fruits-et-legumes-B.png') }}" alt="Paniers"></a></li>
                        </ul>
                    </li>
                    <li{% if section == "thuyss" %} class="active"{% endif %}>
                        <a href="{{ path('pjm_app_boquette_tuiss_index') }}" data-toggle="sous-menu-collapse" data-target="#menu-thuyss">
                            <img class="height-large" src="{{ asset('images/header/Thuyss-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Thuyss-R.png') }}">
                            Tuiss
                        </a>
                        {% if section == "thuyss" %}<div id="nav-slider-active"></div>{% endif %}
                    </li>
                    <li{% if section == "tutos" %} class="active"{% endif %}>
                        <a href="{{ path('pjm_app_tutos_index') }}" data-toggle="sous-menu-collapse" data-target="#menu-tutos">
                            <img class="height-large" src="{{ asset('images/header/Tuto-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Tuto-R.png') }}">
                            Tutos
                        </a>
                        {% if section == "tutos" %}<div id="nav-slider-active"></div>{% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('pjm_app_admin_index') }}" title="Gestion"><span class="glyphicon glyphicon-cog"></span><span class="visible-collapsed-inline"> Gestion</span></a></li>
                    {% endif %}
                    <!--<li><a href="#" title="Rechercher"><span class="glyphicon glyphicon-search"></span><span class="visible-collapsed-inline"> Rechercher</span></a></li>-->
                    <li><a href="{{ path('fos_user_profile_show') }}" title="Mon profil"><span class="glyphicon glyphicon-user"></span><span class="visible-collapsed-inline"> Mon profil</span></a></li>
                    <!--<li><a href="#" title="Notifications"><span class="glyphicon glyphicon-bell"></span><span class="visible-collapsed-inline"> Notifications</span></a></li>-->
                    <li><a href="{{ path('fos_user_security_logout') }}" title="Déconnexion"><span class="glyphicon glyphicon-off"></span><span class="visible-collapsed-inline"> Déconnexion</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
{% block section %}{% endblock %}
