<section id="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu-principal">
        <div class="container">
            <div class="navbar-header">
                <div id="chargement" class="navbar-text"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liste-menu">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('pjm_app_homepage') }}"></a>
            </div>

            <div class="collapse navbar-collapse" id="liste-menu">
                <ul class="nav navbar-nav enable-slider">
                    <li>
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-vie">
                            <img class="height-large" src="{{ asset('images/header/Fignos-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Fignos-R.png') }}">
                            Vie à l'ec's
                        </a>
                    </li>
                    <li>
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-assos">
                            <img class="height-large" src="{{ asset('images/header/Groupe-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Groupe-R.png') }}">
                            Assos
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="disable-fade" data-toggle="sous-menu-collapse" data-target="#menu-consos">
                            <img class="height-large" src="{{ asset('images/header/Fast-food-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Fast-food-R.png') }}">
                            Consos
                        </a>
                        <div id="nav-slider-active" class="hidden-collapsed"></div>
                    </li>
                    <li>
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-thuyss">
                            <img class="height-large" src="{{ asset('images/header/Thuyss-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Thuyss-R.png') }}">
                            Thuyss
                        </a>
                    </li>
                    <li>
                        <a class="disable-fade" href="#" data-toggle="sous-menu-collapse" data-target="#menu-tutos">
                            <img class="height-large" src="{{ asset('images/header/Tuto-G.png') }}">
                            <img class="height-large active" src="{{ asset('images/header/Tuto-R.png') }}">
                            Tutos
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" title="Rechercher"><span class="glyphicon glyphicon-search"></span><span class="visible-collapsed-inline"> Rechercher</span></a></li>
                    <li><a href="#" title="Mon profil"><span class="glyphicon glyphicon-user"></span><span class="visible-collapsed-inline"> Mon profil</span></a></li>
                    <li><a href="#" title="Notifications"><span class="glyphicon glyphicon-bell"></span><span class="visible-collapsed-inline"> Notifications</span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}" title="Déconnexion"><span class="glyphicon glyphicon-off"></span><span class="visible-collapsed-inline"> Déconnexion</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="sous-menu">
        <ul id="menu-vie">
            <li><a href="">Fin's</a></li>
            <li><a href="">Élections</a></li>
            <li><a href="">Infos</a></li>
            <li><a href="">Médias</a></li>
        </ul>
        <ul id="menu-assos">
            <li><a href="">Asso</a></li>
            <li><a href="">AMJE Bordeaux</a></li>
            <li><a href="">UAI</a></li>
        </ul>
        <ul id="menu-consos">
            <li><a href="">Pian's</a></li>
            <li><a href="">C'Vis</a></li>
            <li><a href="">Brag's</a></li>
            <li><a href="">Paniers</a></li>
        </ul>
    </section>
</section>
