{% block datetimePicker_widget %}
    {% spaceless %}
    <div class="form-group">
        <div class='input-group date' id='{{ id }}'>
            <input type='text' class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {% endspaceless %}
{% endblock datetimePicker_widget %}

{% block datetimePicker_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#{{ id }}').datetimepicker({
                locale: 'fr',
                useCurrent: false,
                //allowInputToggle: true
            });

            {% if form.vars.linkedTo is not null %}
            $("#{{ form.parent.vars.name }}_{{ form.vars.linkedTo }}").on("dp.change", function (e) {
                $('#{{ id }}').data("DateTimePicker").minDate(e.date);
            });
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock datetimePicker_javascript %}
