{% extends "PJMAppBundle:Consos/Paniers:layout.html.twig" %}

{% block modals %}
    {% include "PJMAppBundle:Consos:rechargement.html.twig" %}
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if is_granted('ROLE_ZIPANIERS') %}
            <p>
                <small><a href="{{ path('pjm_app_admin_consos_paniers_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>
            </p>
            {% endif %}
            <p>Parce qu’ils sont riches en vitamines, en minéraux, en fibres et parce que leur effet favorable sur la santé a été démontré, il te faut manger {{ app.user.fams }} fruits et légumes par jour. De plus, ils offrent une incroyable variété de saveurs, tout ce qu’il faut pour conjuguer santé et plaisir. C’est pourquoi les Gadz ont inventé <strong><span class="text-larger">le panier de fruits et légumes</span></strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="#conteneurPanneaux">
                        <img src="{{ asset('images/consos/paniers/Sac-BV.png') }}"><br>
                        Le panier
                    </a>
                </li>
                <li>
                    <a href="#commande">
                        <img src="{{ asset('images/consos/paniers/Caddie.png') }}"><br>
                        Commander
                    </a>
                </li>
                <li>
                    <a href="#solde">
                        <img src="{{ asset('images/consos/paniers/Niveau-V.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="{{ path('pjm_app_consos_boquette_historique', {'slug': boquetteSlug}) }}">
                        <span class="glyphicon glyphicon-list"></span><br>
                        Historique
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="panneauPanier" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
            <div id="conteneurPanneaux">
                <div class="conteneur devant center-block">
                    <div class="contenu">
                        {% if panier is not null %}
                        <h3>Semaine {{ panier.date|date('W') }}</h3>
                        <ul class="list-unstyled text-larger">
                        {% for legume in panier.infos %}
                            <li>{{ legume }}</li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <h3>Semaine {{ "now"|date('W') }}</h3>
                        <p>Pas de panier prévu cette semaine pour l'instant.</p>
                        {% endif %}
                    </div>
                    <div class="bas"></div>
                </div>

                <div class="conteneur derriere center-block">
                    <div class="contenu">
                        <div style="visibility: hidden;">
                            <h3>Semaine XY</h3>
                            {% if panier is not null %}
                            <ul class="list-unstyled text-larger">
                            {% for legume in panier.infos %}
                                <li>xy</li>
                            {% endfor %}
                            </ul>
                            {% else %}
                             <p>xy</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bas"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
            <div class="row">
                <div id="commande" class="col-sm-7 text-center">
                    <h2 class="sr-only">Commande</h2>
                    {% if panier is not null %}
                    <p class="text-larger">
                    {% if not dejaCommande %}
                        {% if panier.valid %}
                        <a href="{{ path('pjm_app_consos_paniers_commander') }}" title="Commander" class="text-blanc">
                            <span style="font-size: 6em" class="text-mauve glyphicon glyphicon-download"></span><br>
                            Télécharge le panier dans ton k'gib
                        </a>
                        {% else %}
                            <span style="font-size: 6em" class="text-gris glyphicon glyphicon-ban-circle"></span><br>
                            Trop tard pour commander...
                        {% endif %}
                    {% else %}
                        <span style="font-size: 6em" class="text-mauve glyphicon glyphicon-ok-circle"></span><br>
                        Panier téléchargé
                    {% endif %}
                    </p>
                    <p class="text-mauve text-larger">
                        Livré le <span class="text-gris">{{ panier.date|localizeddate('full', 'none')|slice(0,-4) }}</span>
                    </p>
                    {% else %}
                    <p>
                        <span style="font-size: 6em" class="text-gris glyphicon glyphicon-ban-circle"></span><br>
                        Panier non disponible
                    </p>
                    {% endif %}
                </div>
                <div id="prix" class="col-sm-5 text-center">
                    <h2 class="sr-only">Prix</h2>
                    <div id="prixPanierContainer">
                        <div>{% if panier is not null %}{{ panier.prix|prix }}{% else %}{{ 500|prix }}{% endif %}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 text-center">
                    <div id="infos">
                        <p>
                            {% if dejaCommande %}Récupère ton panier au local du C'vis en n'oubliant pas d'indiquer que tu l'as pris. Si tu attends trop, il sera redistribué à une autre personne.<br>{% endif %}
                            Un problème ? Contacte :
                        </p>
                        {% render(url('pjm_app_consos_voirResponsables', {'slug': boquetteSlug})) %}
                    </div>
                </div>
                <div id="com3pom" class="col-sm-5 text-center">
                    <p><a href="http://www.com3pom.fr" target="_blank" alt=""><img src="{{ asset('images/consos/paniers/Com3Pom.png') }}" alt="Com3Pom"></a></p>
                </div>
            </div>
            <div class="row">
                <div id="solde" class="col-lg-7">
                    {%
                        include "PJMAppBundle:Consos:Paniers/solde.html.twig"
                        with {
                            'solde': solde
                        }
                    %}
                </div>
                <div class="col-lg-5 text-center">
                    <button id="buttonRechargement" type="button" class="text-larger debuttonize" data-toggle="modal" data-target="#modalRechargement">
                        <span style="font-size: 6em" class="glyphicon glyphicon-flash"></span><br>
                        Recharger
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
