{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}boquette paniers{% endblock %}

{% block title %}
	Paniers de fruits &amp; légumes | {{ parent() }}
{% endblock %}

{% block pjm_app_body_title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><img id="logoBoquette" src="{{ asset('images/consos/paniers/Fruits-et-legumes-V.png') }}"> Paniers de fruits &amp; légumes</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                {% if is_granted('ROLE_ZIPANIERS') %}<small><a href="{{ path('pjm_app_consos_paniers_admin_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>{% endif %}
            </p>
            <p>Parce qu’ils sont riches en vitamines, en minéraux, en fibres et parce que leur effet favorable sur la santé a été démontré, il te faut manger {{ app.user.fams }} fruits et légumes par jour. De plus, ils offrent une incroyable variété de saveurs, tout ce qu’il faut pour conjuguer santé et plaisir. C’est pourquoi les Gadz ont inventé <strong><span class="text-larger">le panier de fruits et légumes</span></strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu" class="list-inline text-uppercase text-center">
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/paniers/Sac-BV.png') }}"><br>
                        Le panier
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/paniers/Caddie.png') }}"><br>
                        Commander
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/paniers/Niveau-V.png') }}"><br>
                        Mon compte
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="panneauPanier" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
            <div id="conteneurPanneaux">
                <div class="conteneur devant center-block">
                    <div class="contenu">
                        <h3>Semaine {{ panier.date|date('W') }}</h3>
                        <p class="text-larger">
                            {{ panier.infos|nl2br }}
                        </p>
                    </div>
                    <div class="bas"></div>
                </div>

                <div class="conteneur derriere center-block">
                    <div class="contenu">
                        <div style="visibility: hidden;">
                            <h3>Semaine {{ panier.date|date('W') }}</h3>
                            <p class="text-larger">
                                {{ panier.infos|nl2br }}
                            </p>
                        </div>
                    </div>
                    <div class="bas"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
            <div class="row">
                <div id="commande" class="col-sm-7 text-center">
                    <h2 class="sr-only">Commande</h2>
                    <p class="text-larger">
                        <a href="" title="Commander" class="text-blanc">
                            <span style="font-size: 6em" class="text-mauve glyphicon glyphicon-download"></span><br>
                            Télécharge le panier dans ton k'gib
                        </a>
                    </p>
                    <p class="text-mauve text-larger">
                        Livré le {{ panier.date|localizeddate('full', 'none')|slice(0,-4) }}
                    </p>
                </div>
                <div id="prix" class="col-sm-5 text-center">
                    <h2 class="sr-only">Prix</h2>
                    <div id="prixPanierContainer">
                        <div>{{ panier.prix|prix }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p id="com3pom"><a href="http://www.com3pom.fr" target="_blank" alt=""><img src="{{ asset('images/consos/paniers/Com3Pom.png') }}" alt="Com3Pom"></a></p>
            </div>
            <div class="row">
                <div id="solde" class="col-lg-7">
                    {%
                        include "PJMAppBundle:Consos:Paniers/solde.html.twig"
                        with {
                            'solde': solde
                        }
                    %}
                </div>
                <div class="col-lg-5 text-center">
                    <p class="text-larger">
                        <a class="text-blanc" href="">
                            <span style="font-size: 6em" class="glyphicon glyphicon-flash"></span><br>
                            Recharger
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# <div class="row">
        <div class="col-md-7">
            <h2>Informations</h2>
            Le brag's, c'est tous les matins à 10h.
        </div>
        <div class="col-md-5 text-center">
            {% if ZiBrags is not null %}
            <h2>S.O.S. Brag's</h2>
            <a class="disable-fade" href="mailto:{{ ZiBrags.email }}"><img style="height: 4em;" class="img-responsive center-block" src="{{ asset('images/consos/brags/Contact.png') }}"></a>
            <p class="text-blanc">
                une question pratique,<br>
                un problème de biroüte ?<br>
                <a class="disable-fade" href="mailto:{{ ZiBrags.email }}">contacte ton ZiBrag’s<br>
                {{ ZiBrags.bucque }} {{ ZiBrags.username }}</a>
            </p>
            {% endif %}
        </div>
    </div> #}
</div>

{% endblock %}
