{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}brags{% endblock %}

{% block title %}
	Brag's | {{ parent() }}
{% endblock %}

{% block pjm_app_body_title %}
    <div class="row">
        <div class="col-md-12">
            <h1>Brag's</h1>
        </div>
    </div>
{% endblock %}

{% block pjm_app_body_flashbag %}
    {{ parent() }}

    {% if messages is not null %}
    {% for message in messages %}
    {% if message is not null %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="alert alert-{{ message.niveau }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                {{ message.contenu }}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}

{% block pjm_app_body %}

<div class="row">
    <div class="col-md-12">
        <p>Vous rêvez chaque soir de la bonne odeur du pain moelleux qui sort tout juste du four, de la pâte fraiche
        pétrie avec amour et confectionnée pour votre seul plaisir. Vous vous léchez les babines à l’idée de
        déguster {{ random(['un pain au chocolat croustifondant', 'une chocolatine croustifondante']) }} ou un croissant pur beurre en regardant TFou. N’attendez pas une seconde de plus, <strong>le <span class="text-larger">brag’s</span> est là pour vous</strong>.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="sous-menu-brags" class="list-inline text-uppercase text-center">
            <li>
                <a href="">
                    <img src="{{ asset('images/consos/brags/Croissant.png') }}"><br>
                    Ma commande
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('images/consos/brags/Niveau-N.png') }}"><br>
                    Mon compte
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('images/consos/brags/SOS.png') }}"><br>
                    S.O.S.
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        {% render(url('pjm_app_consos_brags_commande')) %}
    </div>
    <div class="col-md-5 text-center">
        <h2>Prix</h2>
        <p class="text-blanc text-larger">
            La baguette à<br>
            <span class="text-larger">{{ prixBaguette|prix }}</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>Solde</h2>
        {% if solde >= 40 %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-plein.png') }}">
        {% elseif solde >= 30 %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-34.png') }}">
        {% elseif solde >= 20 %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-12.png') }}">
        {% elseif solde >= 10 %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-14.png') }}">
        {% elseif solde >= 0 %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-0.png') }}">
        {% else %}
            <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-neg.png') }}">
        {% endif %}
        <p>
            {% if solde > 0 %}
                Il te reste {{ solde|number_format(2, ',', ' ')|prix }}, soit {{ (solde/prixBaguette)|round(0, 'floor') }} baguettes donc {{ (solde/prixBaguette/nbParJour)|round(0, 'floor') }} jours.
            {% elseif solde == 0 %}
                Tu n'as plus d'argent sur ton compte Brag's ! AQH tu recharges ?
            {% else %}
                Tu es en négat'ss ({{ solde|number_format(2, ',', ' ') }}€) ! Régularise au plus vite ta situation !!
            {% endif %}
        </p>
    </div>
    <div class="col-md-5 text-center">
        <h2>Rechargement</h2>
        <button type="button" class="debuttonize" data-toggle="modal" data-target="#modalRechargement">
            <img style="height: 3em;" class="img-responsive center-block" src="{{ asset('images/paiement/S-Money-N.png') }}" alt="S-Money" title="Par S-Money">
        </button>
        <div class="modal fade" id="modalRechargement" tabindex="-1" role="dialog" aria-labelledby="rechargement" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                        <h4 class="modal-title" id="rechargement">Rechargement</h4>
                    </div>
                    <div class="modal-body">
                        {% include "PJMAppBundle:Consos:Form/rechargement.html.twig" with {'form': formRechargement } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h2>Informations</h2>
        Le brag's, c'est tous les matins à 10h.
    </div>
    <div class="col-md-5 text-center">
        <h2>S.O.S. Brag's</h2>
        <img style="height: 4em;" class="img-responsive center-block" src="{{ asset('images/consos/brags/Contact.png') }}">
        <p class="text-blanc">
            une question pratique,<br>
            un problème de biroüte ?<br>
            <a href="mailto:noe.george@gadz.org">contacte ton ZiBrag’s</a>
        </p>
    </div>
</div>

{% endblock %}
