{% extends "PJMAppBundle::Admin/layout.html.twig" %}

{% block title %}
	Image de {{ item }} - {{ parent() }}
{% endblock %}

{% block pjm_app_body_content %}
<h2>Image de {{ item }}</h2>
<p>
    <a href="{{ path('pjm_app_admin_boquette_index', {slug: item.boquette.slug}) }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour
    </a>
</p>
<div class="row">
    <div class="col-md-6">
        <h3>Image actuelle</h3>
        {% if item.image is not null %}<img src="{{ asset(item.image.webPath) }}" alt="{{ item.image.alt }}" />{% else %}Aucune.{% endif %}
    </div>
    <div class="col-md-6">
        <h3>Modification</h3>

        {{ form_stylesheet(form) }}
        {{ form_javascript(form) }}
        {{ form(form) }}
    </div>
</div>
{% endblock %}
