{% extends "PJMAppBundle::Admin/layout.html.twig" %}

{% block title %}
	Ajout d'une liste d'utilisateurs - {{ parent() }}
{% endblock %}

{% block pjm_app_body_content %}
<h2>Ajout d'une liste d'utilisateurs</h2>
<p>
    <a href="{{ path('pjm_app_admin_index') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour
    </a>
</p>
{% if users is defined %}
<div class="row">
    <div class="col-md-12">
        {% include "PJMAppBundle:Admin:users_liste.html.twig" %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="{{ form.vars.action }}" method="{{ form.vars.method }}" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_widget(form.liste, {'attr': {'class': 'form-control', 'placeholder': 'Liste'}}) }}
                {{ form_errors(form.liste) }}
            </div>

            {{ form_rest(form) }}

            <button class="btn btn-primary" id="_submit" name="_submit" type="submit"><span class="glyphicon glyphicon-ok"></span> Ajouter</button>
        </form>
    </div>
</div>
{% endblock %}
