{% extends "PJMAppBundle::Admin/layout.html.twig" %}

{% block title %}
	Ajout d'une liste d'utilisateurs - {{ parent() }}
{% endblock %}

{% block pjm_app_body_content %}
<h2>Ajout d'une liste d'utilisateurs</h2>
<p>
    <a href="{{ path('pjm_app_admin_index') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour
    </a>
</p>
<p>
    Pour inscrire de nouveaux utilisateurs en masse (lors de l'arrivée d'une nouvelle prom's), donne un fichier Excel avec comme colonnes dans l'ordre: (les astérisques indiquent les colonnes facultatives)
</p>
<ul>
<li>Fam's (même double, triple, séparé par ce que veulent les gens...)</li>
<li>Tabagn's (les deux lettres habituelles : bo li me ch cl ai an ka pa)</li>
<li>Prom's (en 3 chiffres)</li>
<li>Adresse e-mail (perso ou gadz.org, pas ensam.eu)</li>
<li>Bucque</li>
<li>Mot de passe temporaire</li>
<li>Prénom</li>
<li>Nom</li>
<li>Téléphone*</li>
<li>Appartement* (nécessaire pour les commandes de Brag's)</li>
<li>Classe*</li>
<li>Anniversaire (JJ/MM/AAAA)*</li>
</ul>

<p><a href="https://github.com/Minishlink/physbook/blob/master/doc/Files/users_inscription_list.xlsx">Ce fichier</a> donne un exemple avec deux utilisateurs.</p>
<p>Appuie d'abord sur "Vérifier" pour voir si le fichier est correctement parsé. Si oui, clique sur "Ajouter".</p>
<p>Une fois que tu as créé les utilisateurs, envoie un MailChimp. Attention, ne modifie surtout pas le fichier Excel que tu as utilisé, car les mots de passe dans l'Excel sont générés à chaque changement de cellule... Fais une copie des valeurs et importe tout ça dans MailChimp pour indiquer aux nouveaux inscrits leur mot de passe temporaire.</p>
{% if users is defined %}
<div class="row">
    <div class="col-md-12">
        {% include "PJMAppBundle:Admin:users_liste.html.twig" %}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="{{ form.vars.action }}" method="{{ form.vars.method }}" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_widget(form.liste, {'attr': {'class': 'form-control', 'placeholder': 'Liste'}}) }}
                {{ form_errors(form.liste) }}
            </div>

            {{ form_rest(form) }}

            <button class="btn btn-primary" id="_submit" name="_submit" type="submit"><span class="glyphicon glyphicon-ok"></span> Ajouter</button>
        </form>
    </div>
</div>
{% endblock %}
