{% extends "PJMAppBundle:Consos/Pians:layout.html.twig" %}

{% block modals %}
    {% include "PJMAppBundle:Consos:rechargement.html.twig" %}
{% endblock %}

{% block pjm_app_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if is_granted('ROLE_ZIPIANS') %}
            <p>
                <small><a href="{{ path('pjm_app_admin_consos_pians_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>
            </p>
            {% endif %}
            <p>Le <strong><span class="text-larger">Pian’s</span></strong>, c’est un endroit vraiment sympa où on peut s’assoir dans des canapés molletonés, boire une bière entre amis, siroter un café, défier des extés au bière-pong, valider la Strass, prendre une râclée au baby-foot ou tout simplement se mettre une chiée. Alors viens, on est bien !</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="#solde">
                        <img src="{{ asset('images/consos/pians/Niveau-R.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="#historique">
                        <img src="{{ asset('images/consos/pians/Historique-RB.png') }}"><br>
                        Historique
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Calendrier-G.png') }}"><br>
                        Calendrier
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Nettoyage-R.png') }}"><br>
                        D'reunssage
                    </a>
                </li>
                <li>
                    <a href="#boissonDuMoment">
                        <img src="{{ asset('images/consos/pians/Pinte-R.png') }}"><br>
                        Bière du moment
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1 col-sm-5 col-sm-offset-1">
            {% include "PJMAppBundle:Consos:Pians/extraitHistorique.html.twig" %}
        </div>
        <div class="space visible-xs-block visible-sm-block"></div>
        <div class="col-lg-3 col-lg-offset-1 col-lg-push-4 col-sm-5 col-sm-offset-1">
            <div id="rechargement" class="row">
                <h2 class="sr-only">Rechargement</h2>
                <div class="col-xs-6">
                    <button id="buttonRechargementTexte" type="button" class="text-larger debuttonize" title="Recharger" data-toggle="modal" data-target="#modalRechargement">Clique sur la tireuse pour <span class="text-rouge text-larger">recharger</span> ton compte</button>
                </div>
                <div class="col-xs-6">
                    <button id="buttonRechargementImage" type="button" class="text-larger debuttonize" title="Recharger" data-toggle="modal" data-target="#modalRechargement">
                        <img src="{{ asset('images/consos/pians/Tireuse-Off-RB.png') }}" alt="Recharger" title="Recharger">
                    </button>
                </div>
            </div>
            <div class="row">
                {% include "PJMAppBundle:Consos:Pians/solde.html.twig" %}
            </div>
        </div>
        <div class="space visible-xs-block visible-sm-block"></div>
        <div class="col-lg-3 col-lg-offset-1 col-lg-pull-4 col-sm-8 col-sm-offset-2">
            {%
                include "PJMAppBundle:Consos:Pians/boissonDuMoment.html.twig"
                with {
                    'boisson': boissonDuMois,
                }
            %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            {% render(url('pjm_app_consos_voirResponsables', {'slug': boquetteSlug})) %}
        </div>
        <div class="col-md-4">
            Calendrier
        </div>
        <div class="col-md-4">
            Réserver pian's
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            Statistiques
        </div>
    </div>
</div>

{% endblock %}
