{% extends "PJMAppBundle:Consos/Pians:layout.html.twig" %}

{% block modals %}
    {% render(url('pjm_app_consos_rechargement', {'slug': boquetteSlug})) %}
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                {% if is_granted('ROLE_ZIPIANS') %}<small><a href="{{ path('pjm_app_admin_consos_pians_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>{% endif %}
            </p>
            <p>Le <strong><span class="text-larger">Pian’s</span></strong>, c’est un endroit vraiment sympa où on peut s’assoir dans des canapés molletonés, boire une bière entre amis, siroter un café, défier des extés au bière-pong, valider la Strass, prendre une râclée au baby-foot ou tout simplement se mettre une chiée. Alors viens, on est bien !</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Niveau-R.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Historique-RB.png') }}"><br>
                        Historique
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Calendrier-G.png') }}"><br>
                        Calendrier
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Nettoyage-R.png') }}"><br>
                        D'reunssage
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/pians/Pinte-R.png') }}"><br>
                        Bière du moment
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-4">
            {%
                include "PJMAppBundle:Consos:Pians/extraitHistorique.html.twig"
                with {
                    'liste': listeHistorique,
                }
            %}
        </div>
        <div class="col-md-4">
            {% render(url('pjm_app_consos_pians_boissonDuMois')) %}
        </div>
        <div class="col-md-4">
            <div id="rechargement" class="row">
                <h2 class="sr-only">Rechargement</h2>
                <button id="buttonRechargement" type="button" class="text-larger debuttonize" title="Recharger" data-toggle="modal" data-target="#modalRechargement">
                    <img src="{{ asset('images/consos/pians/Tireuse-Off-RB.png') }}" alt="Recharger" title="Recharger">
                </button>
            </div>
            <div id="solde" class="row">
            {%
                include "PJMAppBundle:Consos:Pians/solde.html.twig"
                with {
                    'solde': solde
                }
            %}
            </div>
        </div>
    </div>

    {% render(url('pjm_app_consos_voirResponsables', {'slug': boquetteSlug})) %}

</div>

{% endblock %}
