{% extends "PJMAppBundle:Connexion:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'form_div_layout.html.twig' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div>
        {{ form_widget(form.current_password, {'attr': {'placeholder': 'Pass actuel'}}) }}
        {{ form_errors(form.current_password) }}
    </div>
    <div>
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Nouveau'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div>
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Vérification'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    {{ form_rest(form) }}

    <div>
        <button class="btn btn-primary" id="_submit" name="_submit" type="submit">Changer le mot de passe</button>
    </div>
</form>
{% endblock fos_user_content %}
