<div id="received">
    {% if receptions|length > 0 %}
    {% if inbox.nbNonLus > 0 %}<p id="nbNonLus">Tu as <span class="counterMsgNonLus">{{ inbox.nbNonLus }}</span> message{% if inbox.nbNonLus > 1 %}s{% endif %} non lu{% if inbox.nbNonLus > 1 %}s{% endif %}.<br><small>Passe ta souris ou ton doigt sur un message pour le marquer comme lu.</small></p>{% endif %}
    {% for reception in receptions %}
    <div class="message{% if not reception.lu %} surbrillance{% endif %}" data-message="{{ reception.message.id }}" data-reception="{{ reception.id }}">
        <div class="panel panel-{% if not reception.message.isAnnonce %}default{% else %}info{% endif %}">
            {% if reception.message.boquette is not null %}
            <div class="panel-heading">
                <div class="panel-title">{% if reception.message.isAnnonce %}<span class="glyphicon glyphicon-bullhorn"></span> {% endif %}{{ reception.message.boquette }}</div>
            </div>
            {% endif %}
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="Actions">
                    <a class="btn btn-default btn-xs" href="{{ path('pjm_app_inbox_nouveauMessage', {'user': reception.message.expediteur.username}) }}"><span class="glyphicon glyphicon-comment"></span> Répondre</a>
                    <a class="btn btn-default btn-xs remove" data-reception="{{ reception.id }}"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
                </div>
                <p>
                    {{ reception.message.contenu|nl2br|citationUsers|raw }}
                </p>
            </div>
            <div class="panel-footer">
                {% spaceless %}
                de {% render(url('pjm_profil_encart', {'username': reception.message.expediteur.username})) %},
                le {{ reception.message.date|date('d/m/Y') }} à {{ reception.message.date|date('H:i') }}
                {%- if reception.message.destinataires|length > 0 -%}
                    , pour
                    {% if reception.message.destinataires|length != 1 %}
                        {% include "PJMAppBundle:Profil:show_users.html.twig" with { 'usernames': reception.message.destinataires } %} personnes
                    {% else %}
                        {% if reception.message.destinataires[0] != app.user %}
                            {% render(url('pjm_profil_encart', {'username': reception.message.destinataires[0]})) %}
                        {% else %}
                            phy's
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% endspaceless %}
            </div>
        </div>
    </div>
    {% endfor %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('.message.surbrillance').hover(function() {
            if ($(this).is('.surbrillance') && !$(this).is('.processing')) {
                chargement(true);
                $(this).addClass('processing');
                decrementCounterNbNonLus(1);

                var message = $(this);
                var id = message.attr('data-reception');

                $.post(Routing.generate('pjm_app_inbox_lu', {reception: id }), function() {
                    message.removeClass('surbrillance');
                })
                .fail(function() {
                    decrementCounterNbNonLus(-1);
                })
                .always(function() {
                    message.removeClass('processing');
                    chargement(false);
                });
            }
        });

        $('.message a.remove').click(function() {
            if (!$(this).is('.processing')) {
                $(this).addClass('processing');

                if (!confirm('Es-tu sûr de vouloir supprimer ce message ? Tu ne pourras plus le retrouver ensuite.')) {
                    $(this).removeClass('processing');
                    return;
                }

                chargement(true);

                var el = $(this);
                var id = el.attr('data-reception');
                var message = $('.message[data-reception=' + id +']');

                $.post(Routing.generate('pjm_app_inbox_supprimer', {reception: id }), function() {
                    message.slideUp(function() {
                        $(this).remove();
                    });
                })
                .always(function() {
                    el.removeClass('processing');
                    chargement(false);
                });
            }
        });

        function decrementCounterNbNonLus(number) {
            $('.counterMsgNonLus').html(function(i, val) {
                var res = +val-number;
                if (res == 0) {
                    $('#nbNonLus').slideUp();
                    $('#navMessage').removeClass('nouveau');
                    $('#menu-principal .navbar-toggle').removeClass('nouveau-message');
                }

                return res;
            });
        }
    });
    </script>
    {% else %}
    <p>Pas de messages reçus.</p>
    {% endif %}
</div>
