<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingZiBrags" data-toggle="collapse" data-parent="#accordion" data-target="#collapseZiBrags" aria-expanded="true" aria-controls="collapseZiBrags">
        <h2 class="panel-title">
                ZiBrag's
        </h2>
    </div>
    <div id="collapseZiBrags" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZiBrags">
        <div class="panel-body">
            <h3>Ajout</h3>
            {{ form_stylesheet(form) }}
            {{ form_javascript(form) }}
            {{ form(form) }}

            <h3>Liste</h3>
            {% if listeZiBrags|length == 0 %}
                Il n'y a pas de ZiBrag's actuellement.
            {% else %}
                Les ZiBrag's actuels sont :
                <ul>
                {% for ZiBrags in listeZiBrags %}
                    <li>{{ ZiBrags }} (<a href="{{ path('pjm_app_consos_brags_admin_removeZiBrags', {'user': ZiBrags.id}) }}">supprimer</a>)</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
