<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingVacances" data-toggle="collapse" data-parent="#accordion" data-target="#collapseVacances" aria-expanded="true" aria-controls="collapseVacances">
        <h2 class="panel-title">
                Gestion vacances/jours fériés
        </h2>
    </div>
    <div id="collapseVacances" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVacances">
        <div class="panel-body">
            <p>
                Ce module sert à recréditer les élèves pour les jours fériés et les vacances. Le crédit se fait le jour du jour férié ou du début des vacances concernées.
            </p>
            <h3>Ajout</h3>
            {{ form(form) }}

            <h3>Liste</h3>
            {% if listeVacances != null %}
            <div class="table-responsive">
                <table id="tabGestionVacances" class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Nombre de jours</th>
                            <th>Crédité ?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vacances in listeVacances %}
                        <tr>
                            <td>{{ vacances.date|date('d/m/y') }}</td>
                            <td>{{ vacances.nbJours }}</td>
                            <td>{{ vacances.crediteBrags ? 'Oui':'Non' }}</td>
                            <td>{% if not vacances.crediteBrags %}<a href="{{ path('pjm_app_consos_brags_admin_annulerVacances', {'vacances': vacances.id}) }}">Annuler</a>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            Il n'y a pas de vacances/jours fériés enregistrés.
            {% endif %}
        </div>
    </div>
</div>
