{% set content %}[{{ notification.type }}] {{ ("notifications.content." ~ notification.key)|trans(notification.variables)|purify }}{% endset %}
<div class="notification panel panel-{% if notification.important and notification.new %}primary{% elseif not notification.important and notification.new %}info{% else %}default{% endif %}">
    <div class="message panel-body">
        {% if notification.path != "" %}
            <a href="{{ path(notification.path) }}">{{ content }}</a>
        {% else %}
            {{ content }}
        {% endif %}
        {% if notification.new %}<br>(nouveau){% endif %}
    </div>
    <div class="date panel-footer">le {{ notification.date|localizeddate('medium', 'short') }}</div>
</div>
