{% set content %}[{{ notification.type }}] {{ ("notifications.content." ~ notification.key)|trans(notification.variables)|purify }}{% endset %}
<div class="notification {{ notification.new ? 'nouvelle' : 'ancienne' }} panel slideUp" data-type="{{ notification.type }}">
    <div class="entete panel-heading">
        {% if notification.important %}<div class="importance"><span class="glyphicon glyphicon-star"></span></div>{% endif %}
        <h3 class="panel-title">{{ notification.titre }}</h3>
    </div>
    <div class="message panel-body">
        {% if notification.path != "" %}
            <a href="{{ path(notification.path) }}">{{ content }}</a>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
    <div class="date">{{ notification.date|localizeddate('full', 'none') }} <span class="heure">{{ notification.date|localizeddate('none', 'short') }}</span></div>
</div>
