{% set content %}[{{ notification.type }}] {{ ("notifications.content." ~ notification.key)|trans(notification.variables)|purify }}{% endset %}
<div class="notification{{ notification.important ? ' importante' : ''}} type-{{ notification.type }} panel">
    <div class="entete panel-heading">
        <h3 class="panel-title">{{ notification.titre }}</h3>
    </div>
    <div class="message panel-body">
        {% if notification.path != "" %}
            <a href="{{ path(notification.path) }}">{{ content }}</a>
        {% else %}
            {{ content }}
        {% endif %}
        {% if notification.new %}<br>(nouveau){% endif %}
    </div>
    <div class="date">{{ notification.date|localizeddate('full', 'none') }} <span class="heure">{{ notification.date|localizeddate('none', 'short') }}</span></div>
</div>
