<div id="aVenir">
    <h1>A venir</h1>

    <section id="timeline">
        <div class="timeline-block">
            <div class="timeline-img empty-circle"></div>
        </div>
        {% for event in listeEvents %}
        <div class="timeline-block">
            <div class="timeline-img{% if event.couleur is not null%} bg-{{ event.couleur }}{% endif %}"></div>

            <div class="timeline-content">
                <h2>{{ event.titre }}</h2>
                <span class="organisateur"><strong>{{ event.organisateur }}</strong></span>
                <span class="date">
                    <span class="dateDate">{{ event.date|date('d/m') }} </span><br>
                    {{ event.date|date('H\\hi') }}
                </span>
            </div>
        </div>
        {% endfor %}
        <div class="timeline-block">
            <div class="timeline-img empty-circle"></div>
        </div>
    </section>
    <div id="plusDeDetails" class="row">
        <a href="{{ path('pjm_app_event_index') }}">
            <span class="glyphicon glyphicon-plus"></span> de détails
        </a>
    </div>
</div>
