<div id="aVenir">
    <h1>A venir</h1>

    <section id="timeline">
        <div class="timeline-block">
            <div class="timeline-img empty-circle"></div>
        </div>
        {% if listeEvents|length > 0 %}
        {% for event in listeEvents %}
        <div class="timeline-block">
            <div class="timeline-img{% if event.couleur is not null%} bg-{{ event.couleur }}{% endif %}" style="color: white !important;"></div>

            <div class="timeline-content">
                <h2>{{ event.nom }}</h2>
                <div class="organisateur"><strong>{{ event.createur.bucque }}</strong></div>
                <span class="date">
                    <span class="dateDate">{{ event.dateDebut|date('d/m') }} </span>{% if not event.isJournee %}<br>
                    {{ event.dateDebut|date('H\\hi') }}
                {% endif %}</span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="timeline-block">
            <div class="timeline-img empty-circle"></div>
        </div>
    </section>
    <div id="plusDeDetails" class="row">
        <a href="{{ path('pjm_app_event_index') }}">
            <span class="glyphicon glyphicon-plus"></span> de détails
        </a>
    </div>
</div>
