<h1>État des comptes</h1>

<div class="row">
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2 col-lg-offset-2">
        <div class="progress progress-striped active vertical bottom">
            <div class="text-center prix">{{ solde.pians|prix }}</div>
            <div class="progress-bar bg-rouge" role="progressbar" data-transitiongoal="{{ solde.pians }}" aria-valuenow="{{ solde.pians }}" aria-valuemin="0" aria-valuemax="5000"></div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <div class="progress progress-striped active vertical bottom">
            <div class="text-center prix">{{ solde.brags|prix }}</div>
            <div class="progress-bar bg-jaune" role="progressbar" data-transitiongoal="{{ solde.brags }}" aria-valuenow="{{ solde.brags }}" aria-valuemin="0" aria-valuemax="5000"></div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <div class="progress progress-striped active vertical bottom">
            <div class="text-center prix">{{ solde.paniers|prix }}</div>
            <div class="progress-bar bg-vert" role="progressbar" data-transitiongoal="{{ solde.paniers }}" aria-valuenow="{{ solde.paniers }}" aria-valuemin="0" aria-valuemax="2000"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-2 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-2 col-lg-offset-2">
        <div class="text-center boquette">Pian's<br>C'vis</div>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <div class="text-center boquette">Brag's</div>
    </div>
    <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <div class="text-center boquette">Paniers</div>
    </div>
</div>
<div class="row">
    <p><a href="{{ path('pjm_app_consos_historique') }}"><span class="glyphicon glyphicon-list"></span> Historique</a></p>
</div>
