{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}accueil{% endblock %}

{% block categorieName %}Accueil{% endblock %}

{% block pjm_app_body_title %}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function () {
    $('.progress .progress-bar').progressbar();
});
</script>
{% endblock %}

{% block pjm_app_body %}
<div class="container-fluid">
    {% if not mazoutage %}{% include 'PJMAppBundle:Accueil:mazoutage.html.twig' %}{% endif %}
    <div class="row text-center text-rouge">
        <div class="col-md-offset-3 col-md-6">
            <p class="text-xx-large">Bienvenue sur</p>
        </div>
    </div>
    <div class="row text-center bg-rouge">
        <div class="col-md-offset-4 col-md-4">
            <img style="width:100%;margin-top:0.5em;margin-bottom:0.5em" class="img-responsive center-block" src="{{ asset('images/general/physbook_bg-transp.png') }}">
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="text-x-large">
                Sal's <span class="text-rouge">{{ app.user.bucque }}</span>
            </p>
            <div class="row">
                <div id="actus" class="col-md-6">
                    {{ "now"|localizeddate('medium', 'short') }}
                    <h1 class="en-tete-actus">
                        A la une
                        <img src="{{ asset('images/accueil/Cafe.png') }}">
                    </h1>
                    {% render(url('pjm_app_actus_extrait')) %}
                    {% include 'PJMAppBundle:Accueil:anniversaires.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:etatComptes.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div id="bandeauBleu" class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:aVenir.html.twig' %}
                </div>
                <div class="col-md-6">
                    {% include 'PJMAppBundle:Accueil:bonjourGadzarts.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
