{% extends "PJMAppBundle:Connexion:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-signin" role="form">
    {% if error %}
        <div id="alert" class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant" required="required" autofocus>
    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required">

    <div class="checkbox">
        <label>
          <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <button class="btn btn-primary" id="_submit" name="_submit" type="submit">Connexion</button>
</form>

{% endblock fos_user_content %}
