{% extends "PJMAppBundle:Connexion:layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
if ('credentials' in navigator) {
    // Credential Management API
    navigator.credentials.get({password: true, mediation: "silent"}).then(function (credential) {
        function fetchResponse(url, credential, doStore) {
            var autoSignInElement = document.createElement('div');
            autoSignInElement.className = "alert alert-info";
            autoSignInElement.innerHTML = "Sal's <b>" + credential.id + "</b> !<br />Connexion en cours...";
            form.replaceWith(autoSignInElement);

            const formData = new FormData();
            formData.set("_username", credential.id);
            formData.set("_password", credential.password);
            formData.set("_csrf_token", "{{ csrf_token }}");

            fetch(url, { body: formData, method: "POST", credentials: "include", redirect: "follow" }).then(function (response) {
                if (response.ok) {
                    if (response.url !== "{{ url('fos_user_security_login') }}") {
                        autoSignInElement.className = "alert alert-success";
                        autoSignInElement.innerHTML = 'Connexion réussie !<br />Redirection...';

                        if (doStore) {
                            navigator.credentials.store(credential).then(function() {
                                location.assign(response.url)
                            });
                        } else {
                            location.assign(response.url);
                        }
                    } else {
                        navigator.credentials.preventSilentAccess().then(function() {
                            response.text().then(function(content) {
                                document.open('text/html');
                                document.write(content);
                                document.close();
                            });
                        });
                    }
                }
            });
        }

        var form = document.querySelector('form');

        if (!credential) {
            form.addEventListener("submit", function (e) {
                e.preventDefault();
                fetchResponse(e.target.action, new PasswordCredential(e.target), true);
            });
            return;
        }

        if (credential.type == "password") {
            fetchResponse(form.action, credential, false);
        }
    });
}
</script>
{% endblock %}
{% block fos_user_content %}

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-signin" role="form" autocomplete="off">
    {% if error %}
        <div id="alert" class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant" required="required" autocorrect="off" autocapitalize="off" autocomplete="username" spellcheck="false" >
    <input type="password" id="password" name="_password" autocomplete="current-password" placeholder="Mot de passe" required="required">

    <div class="checkbox">
        <label>
          <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <button class="btn btn-primary" id="_submit" name="_submit" type="submit">Connexion</button>
</form>

{% endblock fos_user_content %}
