{% extends "PJMAppBundle:Consos/Brags:layout.html.twig" %}

{% block modals %}
    {% include "PJMAppBundle:Consos:rechargement.html.twig" %}
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if is_granted('ROLE_ZIBRAGS') %}
            <p>
                <small><a href="{{ path('pjm_app_admin_boquette_brags_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>
            </p>
            {% endif %}
            <p>Vous rêvez chaque soir de la bonne odeur du pain moelleux qui sort tout juste du four, de la pâte fraiche
            pétrie avec amour et confectionnée pour votre seul plaisir. Vous vous léchez les babines à l’idée de
            déguster {{ random(['un pain au chocolat croustifondant', 'une chocolatine croustifondante']) }} ou un croissant pur beurre en regardant TFou. N’attendez pas une seconde de plus, <strong>le <span class="text-larger">brag’s</span> est là pour vous</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="#commande">
                        <img src="{{ asset('images/consos/brags/Croissant.png') }}"><br>
                        Ma commande
                    </a>
                </li>
                <li>
                    <a href="#solde">
                        <img src="{{ asset('images/consos/brags/Niveau-N.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <img src="{{ asset('images/consos/brags/SOS.png') }}"><br>
                        S.O.S.
                    </a>
                </li>
                <li>
                    <a href="{{ path('pjm_app_boquette_boquette_historique', {'slug': boquetteSlug}) }}">
                        <img src="{{ asset('images/consos/brags/Historique-NB.png') }}"><br>
                        Historique
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            {% render(url('pjm_app_boquette_brags_commande')) %}
        </div>
        <div class="col-md-5 text-center">
            <h2>Prix</h2>
            <p class="text-blanc text-larger">
                La baguette à<br>
                <span class="text-larger">{{ prixBaguette|prix }}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            {%
                include "PJMAppBundle:Consos:Brags/solde.html.twig"
                with {
                    'solde': solde,
                    'prixBaguette': prixBaguette,
                    'commande': commande
                }
            %}
        </div>
        <div class="col-md-5 text-center">
            <h2>Rechargement</h2>
            <button id="buttonRechargement" type="button" class="debuttonize" data-toggle="modal" data-target="#modalRechargement">
</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Informations</h2>
            <p>
                Le brag's, c'est tous les matins à 10h. Il y a un sac par étages, déposés au RDC de chaque résidence, à remonter à son étage. Actuellement, <strong>{{ nbCommandes|nombre }} baguettes</strong> sont livrées quotidiennement.
            </p>
            <p>
                Tu dois indiquer ton kagib ou au moins ton étage (ex. "A2") dans ton profil pour pouvoir profiter des brag's. Si tu es SKF, indique par ex. "A2 d'hon's (SKF)"
            </p>
            <p>
                Sur cette page, tu peux modifier et voir l'état de ta commande de pain quotidienne. <em>A chaque fois que tu modifies ta commande, tu dois attendre que le ZiBrag's te la valide</em>. En effet, le ZiBrag's doit contacter le boulanger pour changer la commande de pain.
            </p>
            <p>
                Pourquoi pas de commande de quarts de baguette ? Tout simplement parce que prendre un quart de baguette dans le sac à pain peut vite devenir prendre une demi-baguette, même sans le vouloir forcément.
            </p>
            <p>
                Ton compte Brag's doit rester positif ou nul. Pour recharger ton compte, clique sur le four. Tu peux aussi donner un chèque à l'ordre d'AE ENSAM au ZiBrag's qui l'enregistrera sur Phy'sbook.
            </p>
        </div>
        <div class="col-md-5 text-center">
            <div id="contact">
                <h2>S.O.S. Brag's</h2>
    <img style="height: 4em;" class="img-responsive center-block" src="{{ asset('images/general/Contact.png') }}">
                {% render(url('pjm_app_boquette_voirResponsables', {'slug': boquetteSlug})) %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
