{% extends "PJMAppBundle::layout.html.twig" %}

{% set section = "consos" %}
{% block pageName %}boquette brags{% endblock %}

{% block title %}
	Brag's | {{ parent() }}
{% endblock %}

{% block modals %}
    {% render(url('pjm_app_consos_rechargement', {'slug': boquetteSlug})) %}
{% endblock %}

{% block pjm_app_body_title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><img id="logoBoquette" src="{{ asset('images/consos/brags/Brags-N.png') }}"> Brag's</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                {% if is_granted('ROLE_ZIBRAGS') %}<small><a href="{{ path('pjm_app_admin_consos_brags_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>{% endif %}
            </p>
            <p>Vous rêvez chaque soir de la bonne odeur du pain moelleux qui sort tout juste du four, de la pâte fraiche
            pétrie avec amour et confectionnée pour votre seul plaisir. Vous vous léchez les babines à l’idée de
            déguster {{ random(['un pain au chocolat croustifondant', 'une chocolatine croustifondante']) }} ou un croissant pur beurre en regardant TFou. N’attendez pas une seconde de plus, <strong>le <span class="text-larger">brag’s</span> est là pour vous</strong>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/brags/Croissant.png') }}"><br>
                        Ma commande
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/brags/Niveau-N.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/brags/SOS.png') }}"><br>
                        S.O.S.
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            {% render(url('pjm_app_consos_brags_commande')) %}
        </div>
        <div class="col-md-5 text-center">
            <h2>Prix</h2>
            <p class="text-blanc text-larger">
                La baguette à<br>
                <span class="text-larger">{{ prixBaguette|prix }}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            {%
                include "PJMAppBundle:Consos:Brags/solde.html.twig"
                with {
                    'solde': solde,
                    'prixBaguette': prixBaguette,
                    'commande': commande
                }
            %}
        </div>
        <div class="col-md-5 text-center">
            <h2>Rechargement</h2>
            <button id="buttonRechargement" type="button" class="debuttonize" data-toggle="modal" data-target="#modalRechargement">
</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Informations</h2>
            Le brag's, c'est tous les matins à 10h.
        </div>
        <div class="col-md-5 text-center">
            <h2>S.O.S. Brag's</h2>
<img style="height: 4em;" class="img-responsive center-block" src="{{ asset('images/general/Contact.png') }}">
            {% render(url('pjm_app_consos_voirResponsables', {'slug': boquetteSlug})) %}
        </div>
    </div>
</div>

{% endblock %}
