<h2>Solde</h2>
{% if solde >= 40 %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-plein.png') }}">
{% elseif solde >= 30 %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-34.png') }}">
{% elseif solde >= 20 %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-12.png') }}">
{% elseif solde >= 10 %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-14.png') }}">
{% elseif solde >= 0 %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-0.png') }}">
{% else %}
    <img style="width: 70%" class="img-responsive center-block" src="{{ asset('images/consos/brags/Pain-neg.png') }}">
{% endif %}
<p>
    {% if solde > 0 %}
        Il te reste {{ solde|number_format(2, ',', ' ')|prix }}, soit {{ (solde/prixBaguette)|round(0, 'floor') }} baguettes donc {{ (solde/prixBaguette/nbParJour)|round(0, 'floor') }} jours.
    {% elseif solde == 0 %}
        Tu n'as plus d'argent sur ton compte Brag's ! AQH tu recharges ?
    {% else %}
        Tu es en négat'ss ({{ solde|number_format(2, ',', ' ') }}€) ! Régularise au plus vite ta situation !!
    {% endif %}
</p>
