{% extends "::layout.html.twig" %}

{% block pageName %}{% endblock %}
{% block categorieName %}{% endblock %}
{% block categorieLogo %}{% endblock %}
{% set categorieLogo = block('categorieLogo') %}

{% block title %}
	{{ block('categorieName') }} | {{ parent() }}
{% endblock %}

{% block content %}

{% block pjm_app_body_title %}
<div class="container-fluid" id="bandeauTitre">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% if categorieLogo != '' %}<img id="logoPage" src="{{ block('categorieLogo') }}"> {% endif %}{{ block('categorieName') }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% if app.session.flashbag.peekAll is not empty %}
<div class="container">
    {% block pjm_app_body_flashbag %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endblock %}
</div>
{% endif %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block pjm_app_body_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}
