{% extends "PJMAppBundle:Boquette/Rezal/Internet:layout.html.twig" %}

{% block title %}{{ parent() }} | Connexion{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if autoConnect %}
<script type="text/javascript">
    $('.noscript').before('<p>Connexion en cours...</p>');
    $('.noscript').hide();
    $('#connexion form button[type="submit"]').click();
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="noscript">
    <h2>Connexion</h2>
    <div id="connexion">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.auth_user) }}
            {{ form_row(form.auth_pass) }}

        {{ form_end(form) }}
    </div>
</div>


{% endblock %}
