{% extends "PJMAppBundle:Boquette/Rezal/Internet:layout.html.twig" %}

{% block title %}{{ parent() }} | Connexion{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if connexion %}
<script type="text/javascript">
    $('#connexion').prepend('<p>Connexion en cours...</p>');
    //$('#connexion form').css('visibility', 'hidden').submit();
</script>
{% endif %}
{% endblock %}


{% block content %}
<h2>Connexion</h2>
<div id="connexion">
    {{ form_start(form, {'action': action}) }}
        {{ form_errors(form) }}

        {{ form_row(form.auth_user) }}
        {{ form_row(form.auth_pass) }}

    {{ form_end(form) }}
</div>

{% endblock %}
