{% extends "PJMAppBundle:Boquette/Rezal/Internet:layout.html.twig" %}

{% block title %}{{ parent() }} | Connexion{% endblock %}

{% block javascripts %}
{{ parent() }}
{% if autoConnect %}
<script type="text/javascript">
    $('.noscript').before('<p>Connexion en cours...</p>');
    $('.noscript').hide();
    $('#connexion form button[type="submit"]').click();
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="noscript">
    <div id="connexion">
    <h2>Connexion</h2>
    <p><a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-lg"><span class="phys-brand-logo-white" style="font-size:1.2em; vertical-align: middle;"></span> Compte Phy'sbook</a></p>

    <p><a data-toggle="collapse" href="#formConnexion" aria-expanded="false" aria-controls="formConnexion">Tu es un invité ?</a></p>
        <div class="collapse" id="formConnexion">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.auth_user) }}
            {{ form_row(form.auth_pass) }}

        {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
