{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets
    '%kernel.root_dir%/../app/Resources/public/less/UserBundle.less'
    filter='less,cssrewrite,?yui_css'
    output='css/design-connexion.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@PJMUserBundle/Resources/public/js/pingouin.js'
    filter='?yui_js'
    output='js/connexion.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div class="col-md-10 col-md-offset-1" id="pingouin">
                <img id="pingouin-ouvert" class="img-responsive center-block" src="{{ asset('images/login/pingouin_yeux_ouverts.png') }}" />
                <img id="pingouin-ferme" class="img-responsive center-block" src="{{ asset('images/login/pingouin_yeux_caches.png') }}" />
            </div>


            <div class="col-md-10 col-md-offset-1" id="connexion_wrapper">
                <div >
                    <div id="logo">
                        <a href="{{ path('pjm_app_homepage') }}"><img class="img-responsive center-block" src="{{ asset('images/general/logo_bg-blanc.png') }}" alt="Phy'sbook" /></a>
                    </div>

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
