{# --------------------------------------------------
----  Merci de respecter le travail des 213    ------
----  et de ne pas changer le contenu de cette ------
----  page, à part la section "les équipes"     -----
---------------------------------------------------#}

{% extends "PJMAppBundle::layout.html.twig" %}

{% block pageName %}a-propos{% endblock %}
{% block categorieName %}&Agrave; propos{% endblock %}
{% block pjm_app_body_title %}{% endblock %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="font-blackout_sunrise">&Agrave; propos de Phy'sbook</h1>

            <h2>Qu'est-ce que Phy'sbook</h2>
            <p>
                C’est un <strong>site privé</strong> qui vise à te simplifier la vie au tabagn’s par une centralisation de l’information.
            </p>

            <h2>Qui sommes-nous ?</h2>
            <p>
                Il était une fois, en l’an 213, cinq vaillants Gadz'Arts se sacrifiant pour offrir à leur promotion un outil magique... Phy’sbook. Durant plus de 9 mois, ces cinq valeureux PGs ont errés dans les salles des Arts et Métiers et ont vécu, reclus, devant leurs ordinateurs pour gnasser nuit et jour. Leur courage, leur fratern’ss et leur motivation (ainsi que les snickers du C’vis) leur ont permis de tenir durant tout ce temps et de mener à bien cette mission pour laquelle Gorgu les avait élus... Résultat : Phy’sbook est le premier réseau social mondial, devant celui créé par Mark Zukerberg et que nous ne citerons pas.
            </p>
            <p>Les créateurs de Phy'sbook sont :</p>
            <ul>
                <li>Zi² : {{ render(url('pjm_profil_encart', {'username': '40bo213'})) }} 40bo213 (Louis Lagrange) (code)</li>
                <li>Zi : {{ render(url('pjm_profil_encart', {'username': '26-68bo213'})) }} 26-68bo213 (Etienne Blanc) (graphisme)</li>
                <li>Zi : {{ render(url('pjm_profil_encart', {'username': '56bo213'})) }} 56bo213 (Alice Calès) (contenu)</li>
                <li>Zi : {{ render(url('pjm_profil_encart', {'username': '95-157bo213'})) }} 95-157bo213 (Louis Brillot) (graphisme)</li>
                <li>Zi : {{ render(url('pjm_profil_encart', {'username': '100-159bo213'})) }} 100-159bo213 (Stéphie Noailles) (contenu)</li>
            </ul>
            <p>
                Depuis, l'équipe s'est agrandie d'année en année, tu peux voir la liste <a href="{{ path('pjm_app_boquette_default', {'slug': 'physbook'}) }}">ici</a>.
            </p>

            <h2>Comment est né Phy'sbook ?</h2>
            <p>
                Nous sommes partis d’un simple constat : il manquait aux Arts un vrai moyen de communication attractif externe et interne. En effet, de très nombreuses informations circulaient entre les PGs, mais celles-ci étaient éparpillées dans les différents moyens de communication et avaient besoin d’être centralisées. De plus, la vitrine de notre vie associative n’était pas complète ni attractive.<br>
                Le site de l’Association des élèves représente la partie « externe » de notre projet et montre à chaque visiteur tout ce qu’il est possible de faire à l’école. Phy’sbook représente la partie « interne » de notre projet. C’est une interface numérique dont le but est de faciliter la vie des PGs au tabagn’ss : gain de temps pour une meilleure organisation, concentration des infos, utilisation simplifiée, ... Phy’sbook révolutionne la vie des PGs !
            </p>

            <h2>Qu’est-ce que Phy’sbook peut t’apporter ?</h2>
            {# paragraphe général #}
            {# clique ici pour voir les fonctionnalités disponibles et à venir #}
            <p>Avec Phy’sbook, tu peux :</p>
            <ul>
                <li>
                    Vie à l’ec’s
                    <ul>
                        <li>Dernières actus</li>
                        <li>Calendrier de tous les évènements</li>
                        <li>Organiser des fin’ss et autres évènements, réserver le Pian’ss</li>
                        <li>Voter (pour certaines élections ou référendums)</li>
                        <li>Réserver un amphi</li>
                        <li>Annuaire complet</li>
                        <li>Accéder aux media (photos, Zambirse)</li>
                    </ul>
                </li>
                <li>Consos
                    <ul>
                        <li>Recharger ton compte Pi (Pian'ss+C’vis) directement sur le site, et le montant de rechargement te sera instantanément crédité.</li>
                        <li>Passer ta commande de Brag’s en ligne, recharger ton compte Brag’s</li>
                        <li>Commander et payer ton panier de fruits et légumes toutes les semaines</li>
                        <li>Accéder à tous tes historiques de consommations (Pian’ss, C’vis, Brag’s, Paniers)
    Assos</li>
                    </ul>
                </li>
                <li>L’Asso
                    <ul>
                        <li>Compte-rendu de l’Asso</li>
                        <li>État du paiement de ta cotisation</li>
                    </ul>
                </li>
                <li>UAI
                    <ul>
                        <li>Connaître les derniers résultats sportifs</li>
                        <li>Prochains matchs</li>
                    </ul>
                </li>
                <li>AMJE Bordeaux
                    <ul>
                        <li>Connaître les projets en recherche d’intervenants</li>
                        <li>Accéder à l’intranet (formations, prospection, suivi projets)</li>
                    </ul>
                </li>
                <li>Tuiss
                    <ul>
                        <li>Accéder au Tuiss numérique</li>
                        <li>Accéder aux archives</li>
                        <li>Proposer un article</li>
                        <li>Se désabonner du tuiss papier</li>
                    </ul>
                </li>
                <li>Tutos
                    <ul>
                        <li>Bonnes pratiques de communication</li>
                        <li>Thuysses sur des outils informatiques</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="space">
        <div class="col-md-12">
            <span class="space"></span>
            <div class="logo row">
                    <img class="img-responsive" src="{{ asset('images/general/logo_bg-blanc.png') }}">
                    <img class="img-responsive" src="{{ asset('images/general/physbook_bg-transp.png') }}"><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
