{% if event is not null %}
<h2>{{ event.nom }}</h2>
{% if event.prix > 0 %}{{ render(controller('PJMAppBundle:Event/Evenement:etatPaiementUser', { 'event': event })) }}{% endif %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if event.image is not null %}<img class="affiche" src="{{ asset(event.image.webPath) }}" alt="Affiche">{% endif %}
        <ul class="list-unstyled">
            {% spaceless %}
                <li><strong>Quand ?</strong>
                {% if event.isDay %}
                    {% if event.dateDebut|date('d-m-Y') != event.dateFin|date('d-m-Y') %}
                        Du {{ event.dateDebut|localizeddate('medium', 'none') }} au {{ event.dateFin|localizeddate('medium', 'none') }}
                    {% else %}
                        Le {{ event.dateDebut|localizeddate('medium', 'none') }}
                    {% endif %}
                {% else %}
                    {% if event.dateDebut != event.dateFin %}
                        Du {{ event.dateDebut|localizeddate('medium', 'none') }} à {{ event.dateDebut|localizeddate('none', 'short') }} au {{ event.dateFin|localizeddate('medium', 'none') }} à {{ event.dateFin|localizeddate('none', 'short') }}
                    {% else %}
                        Le {{ event.dateDebut|localizeddate('medium', 'none') }} à {{ event.dateDebut|localizeddate('none', 'short') }}
                    {% endif %}
                {% endif %}
                </li>
            {% endspaceless %}

            {% if event.lieu is not null %}<li><strong>Où ?</strong> {{ event.lieu }}</li>{% endif %}
            {% if event.prix %}
                <li><strong>Combien ?</strong> {{ event.prix|prix }}</li>
                <li>C'est un évènement <strong>{{ event.isMajeur ? "majeur" : "mineur" }}</strong>.
                    {%  if event.isMajeur %}Le paiement sera donc validé et déclenché par l'Harpag's Pian's.
                    {% else %}Le prix ne sera pas validé par l'Harpag's Pian's et l'organisateur pourra déclencher le paiement après l'évènement.{% endif %}
                </li>
            {% endif %}
            <li><strong>Avec qui ?</strong>
            <ul>
                <li><em>Participants :</em> {% include "PJMAppBundle:Profil:show_users.html.twig" with {'users': event.participants} %}{% if event.maxParticipants %} ({{ event.maxParticipants - event.participants|length }} places restantes){% endif %}</li>
                <li><em>Autres invités :</em> {% include "PJMAppBundle:Profil:show_users.html.twig" with {'users': event.invites} %}</li>
                <li><em>Non-participants :</em> {% include "PJMAppBundle:Profil:show_users.html.twig" with {'users': event.nonParticipants} %}</li>
            </ul>
            </li>
            <li>C'est un évènement <strong>{{ event.isPublic ? "public" : "privé" }}</strong>{% if event.dateDeadline %} dont la deadline est fixée au {{ event.dateDeadline|localizeddate('medium', 'none') }} à {{ event.dateDeadline|localizeddate('none', 'short') }}{% endif %}.</li>
        </ul>
        {% if event.description %}<blockquote><p>{{ event.description|show }}</p></blockquote>{% endif %}

        <div class="pull-right">
            <small>créé par {{ render(url('pjm_profil_encart', {'username': event.createur.username})) }} le {{ event.dateCreation|date('d/m/Y') }}</small>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ render(controller('PJMAppBundle:Event/Invitation:inscription', {event: event})) }}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body text-center">
        {{ render(controller("PJMAppBundle:Event/Invitation:inviteBatch", {event: event})) }}
        {{ render(url('pjm_app_event_invite', {'slug': event.slug})) }}
        {% if event.createur == app.user or is_granted('ROLE_ADMIN') %}
            <br><a href="{{ path('pjm_app_event_modifier', {'slug': event.slug}) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
            {{ render(url('pjm_app_event_suppression', {'slug': event.slug})) }}
        {% endif %}
        {% if event.prix > 0 %}
            {{ render(url('pjm_app_event_paiement', {'slug': event.slug})) }}
        {% endif %}
        {{ render(url('pjm_app_event_export', {'slug': event.slug})) }}
    </div>
</div>
{% endif %}
