{# src/PJM/UserBundle/Resources/views/User/registration.email.twig #}

{% block subject %}Confirmation d'inscription au site d'AMJE Bordeaux{% endblock %}

{% block body_text %}
Bonjour {{ user.prenom }},

Merci de t'être inscrit au site intranet d'AMJE Bordeaux. Après que nous ayons vérifié que tu es bien membre d'AMJE Bordeaux, tu auras accès à toutes les fonctionnalités du site.

Pour info, tu peux te connecter soit avec ton e-mail ({{ user.email }}), soit avec ton nom d'utilisateur ({{ user.username }}).

Pense à liker notre page Facebook ! ( https://www.facebook.com/amje.bordeaux )

Amicalement,
le bureau d'AMJE Bordeaux
bureau@amje-bordeaux.fr
{% endblock %}

{% block body_html %}

<img src="http://www.amje-bordeaux.fr/logo_petit.png" style="text-align:center" alt="" />

<h1>Bonjour {{ user.prenom }},</h1>

<p>Merci de t'être inscrit au site intranet d'AMJE Bordeaux. Après que nous ayons vérifié que tu es bien membre d'AMJE Bordeaux, tu auras accès à toutes les fonctionnalités du site.</p>

<p>Pour info, tu peux te connecter soit avec ton e-mail ({{ user.email }}), soit avec ton nom d'utilisateur ({{ user.username }}).</p>

<p>Pense à liker <a href="https://www.facebook.com/amje.bordeaux">notre page Facebook</a> !</p>

<p>Amicalement,<br>
le bureau d'AMJE Bordeaux
<a href="mailto:bureau@amje-bordeaux.fr">bureau@amje-bordeaux.fr</a>
</p>
{% endblock %}
