{# src/PJM/AppBundle/Resources/views/Mail/alerteSolde.html.twig #}

{% extends "PJMAppBundle:Mail:layout.html.twig" %}

{% block subject %}{{ parent() }} Négat's de {{ dette|prix }}{% endblock %}

{% block content_text %}
Sal's {{ user.bucque }},

tu es en négat's sur ton compte {{ boquette.nom }} de {{ dette|prix }} ! Régularise ta situation au plus vite en rechargeant ton compte sur Phy'sbook.fr.
{% endblock %}

{% block content_html %}
<h2>Alerte de négat's !</h2>

<h3>Sal's {{ user.bucque }},</h3>

<p>Tu es en négat's sur ton compte {{ boquette.nom }} de <strong>{{ dette|prix }}</strong> ! Régularise ta situation au plus vite en rechargeant ton compte sur <a href="{{ url('pjm_app_boquette_index', {slug: boquette.slug}) }}" style="color:#ffba00">Phy'sbook.fr</a>.</p>
{% endblock %}
