{# src/PJM/AppBundle/Resources/views/Mail/message.html.twig #}

{% extends "PJMAppBundle:Mail:layout.html.twig" %}

{% block subject %}{{ parent() }} Notification importante{% endblock %}

{% block content_text %}
    Sal's, tu as reçu cette notification importante :

    {{ message }}

    Tes notifications: {{ url('pjm_app_notifications_index') }}
    Tes réglages de notifications: {{ url('pjm_app_notifications_reglages') }}
{% endblock %}

{% block content_html %}
    <h2>Notification importante</h2>

    <h3>Sal's,</h3>
    <p>Tu as reçu cette notification importante :</p>

    <p style="background-color: white; color: black; padding:1em; border: 1px solid white; border-radius: 5px;">{{ message }}</p>

    <ul>
        <li><a href="{{ url('pjm_app_notifications_index') }}" style="color: white">Tes notifications</a></li>
        <li><a href="{{ url('pjm_app_notifications_reglages') }}" style="color: white">Tes réglages de notifications</a></li>
    </ul>
{% endblock %}
