{% extends "PJMAppBundle:Mail:layout.html.twig" %}

{% block subject %}{{ parent() }} Modification de ton mot de passe{% endblock %}

{% block content_text %}
Sal's {{ user.bucque }} {{ user.username }},

Pour réinitialiser ton mot de passe, c'est par là :
{{ confirmationUrl }}
{% endblock %}

{% block content_html %}
<h2>Réinitialisation du mot de passe</h2>

<h3>Sal's {{ user.bucque }},</h3>

<p>
    Réinitialise ton mot de passe en cliquant <a style="color: #ffba00" href="{{ confirmationUrl }}">ici</a>.
</p>
{% endblock %}
