{% extends "PJMAppBundle:Consos/Cvis:layout.html.twig" %}

{% block pjm_app_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if is_granted('ROLE_ZICVIS') %}
            <p>
                <small><a href="{{ path('pjm_app_admin_consos_cvis_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>
            </p>
            {% endif %}
            <p>
                Tu n’as plus rien dans ton frigo ? Tu ressens soudain une folle envie de saucisson, pizza ou barre chocolatée calorique ? Tu recherches désespérément des équipements de protection individuels afin de compléter ta garde-robe ? Tu souhaites customiser ta blouse traditionnelle ?<br>
                Tu trouveras tout ce dont tu as besoin au <strong><span class="text-larger">C’Vis</span></strong> !
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="#solde">
                        <img src="{{ asset('images/consos/cvis/Niveau-B.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="#historique">
                        <img src="{{ asset('images/consos/cvis/Historique-B.png') }}"><br>
                        Historique
                    </a>
                </li>
                <li>
                    <a href="#produitMoment">
                        <img src="{{ asset('images/consos/cvis/Jambon.png') }}"><br>
                        Produit du moment
                    </a>
                </li>
                <li>
                    <a href="#catalogue">
                        <img src="{{ asset('images/consos/cvis/Catalogue.png') }}"><br>
                        Catalogue
                    </a>
                </li>
                <li>
                    <a href="#ziConsommateurs">
                        <img src="{{ asset('images/consos/cvis/Coeur-B.png') }}"><br>
                        ZiConsommateurs
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="store">
        {# store #}
    </div>
    <div class="space"></div>
    <div class="row separation">
        <div class="col-md-3 col-md-offset-1">
            {% include "PJMAppBundle:Consos:Cvis/porte.html.twig" %}
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    {% include "PJMAppBundle:Consos:Cvis/ziConsommateurs.html.twig" %}
                </div>
                <div class="col-md-6">
                    {% include "PJMAppBundle:Consos:Cvis/produitMoment.html.twig" %}
                </div>
            </div>
            <div class="row">
                {% include "PJMAppBundle:Consos:Cvis/catalogue.html.twig" %}
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            {# rechargement #}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% include "PJMAppBundle:Consos:Cvis/extraitHistorique.html.twig" %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {# stats #}
        </div>
    </div>
</div>

{% endblock %}
