{% extends "PJMAppBundle:Consos/Cvis:layout.html.twig" %}

{% block pjm_app_body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                {% if is_granted('ROLE_ZICVIS') %}<small><a href="{{ path('pjm_app_admin_consos_cvis_index') }}"><span class="glyphicon glyphicon-cog"></span> Gestion</a></small>{% endif %}
            </p>
            <p>
                Tu n’as plus rien dans ton frigo ? Tu ressens soudain une folle envie de saucisson, pizza ou barre chocolatée calorique ? Tu recherches désespérément des équipements de protection individuels afin de compléter ta garde-robe ? Tu souhaites customiser ta blouse traditionnelle ?<br>
                Tu trouveras tout ce dont tu as besoin au <strong><span class="text-larger">C’Vis</span></strong> !
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="sous-menu">
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/cvis/Niveau-B.png') }}"><br>
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="{{ path('pjm_app_consos_boquette_historique', {'slug': boquetteSlug}) }}">
                        <img src="{{ asset('images/consos/cvis/Historique-B.png') }}"><br>
                        Historique
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/cvis/Jambon.png') }}"><br>
                        Produit du moment
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/cvis/Catalogue.png') }}"><br>
                        Catalogue
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/consos/cvis/Coeur-B.png') }}"><br>
                        ZiConsommateurs
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% render(url('pjm_app_consos_voirResponsables', {'slug': boquetteSlug})) %}

</div>

{% endblock %}
