<li class="produit">
    {% if produit.image is not null %}
    <img src="{{ asset(produit.image.webPath) }}" alt="{{ asset(produit.image.alt) }}" class="image" />
    {% else %}
    <img src="{{ asset('images/consos/cvis/Produit.png') }}" alt="{{ produit.libelle }}" class="image" />
    {% endif %}

    <span class="nom">{{ produit.libelle }}</span><br>
    <span class="prix">{{ produit.prix|prix }}</span>
</li>
