<div class="produit">
    {% if produit.image is not null %}
    <img src="{{ asset(produit.image.webPath) }}" alt="{{ asset(produit.image.alt) }}" class="image" />
    {% else %}
    <img src="{{ asset('images/consos/cvis/Produit.png') }}" alt="{{ produit.libelle }}" class="image" />
    {% endif %}

    <div class="nom">{{ produit.libelle }}</div>
    <div class="prix">{{ produit.prix|prix }}</div>

    <div class="usersHM">
        {% render(url('pjm_app_boquette_itemHM', {item: produit.id})) %}
        <span>{{ produit.usersHM.count }} HM</span>
    </div>
</div>
