{% extends "::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ext.css', 'css') }}" />
    <link rel="stylesheet" href="{{ asset('css/connexion.css', 'css') }}" />
{% endblock %}

{% block body %}

<div id="connexion">
    <a id="welcome" href="{{ path("pjm_app_homepage") }}" title="Phy'sbook">
        <div class="container-fluid">
            <div class="col-md-12">
                <span class="phys-brand-logo-white hidden-xs"></span>
                <h1>Bienvenue sur <span class="sr-only">Phy'sbook</span></h1>
                <span class="phys-brand-logo-white visible-xs-inline-block"></span><span class="phys-brand-text-white"></span>
            </div>
        </div>
    </a>
    <div id="ciel">
        <div class="iceberg">
            <div id="pingouin">
                <a href="{{ path('pjm_app_homepage') }}" title="Phy'sbook">
                    <img  class="ouvert img-responsive center-block tossing" src="{{ asset('images/login/pingouin_yeux_ouverts.png') }}" />
                    <img class="ferme img-responsive center-block" src="{{ asset('images/login/pingouin_yeux_caches.png') }}" />
                </a>
            </div>
        </div>
    </div>
    <div id="eau">
        <div class="iceberg">
            <div class="col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
                {% block fos_user_content %}{% endblock fos_user_content %}

                <div id="links">
                    <span class="glyphicon glyphicon-question-sign"></span> <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a><br>
                    <span class="glyphicon glyphicon-info-sign"></span> <a href="#about">About / à propos</a>
                </div>
            </div>
        </div>
    </div>
    <div id="about">
        <a href="{{ path('pjm_public_about') }}">About / &Agrave; propos</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {
    // pingouin
    var $password = $('#password');
    $password.focus(function () {
        $('#pingouin').find('img.ouvert').hide(0, function () {
            $('#pingouin').find('img.ferme').show(0);
        });
    });
    $password.focusout(function () {
        $('#pingouin').find('img.ferme').hide(0, function () {
            $('#pingouin').find('img.ouvert').show(0);
        });
    });

    // indicateur de chargement
    $('form').on('submit', function(e) {
        var $this = $(this);
        var button = $(this).find('button');

        if(!button.hasClass('disabled')) {
            button.addClass('disabled');

            $('#logo').html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>');
        }
    });
});
</script>
{% endblock %}
